<div class="row">
  <div class="span3">
    <div class="pa-sidebar well well-small">
      <ul class="nav nav-list">
        <li ng-class="{ active: $state.includes(&#39;animals.list&#39;) }">
          <a href="/#/animals">All animals</a></li>
        <li class="nav-header">List</li>
        <li ng-repeat="animal in animals" ng-class="{ active: $state.includes(&#39;animals.detail&#39;) &amp;&amp; $stateParams.animalId == animal.id }">
          <a href="/#/animals/{{animal.id}}">{{animal.name}}</a>
        </li>
      </ul>
      <hr>
      <button class="btn" ng-click="goToRandom()">Show random animal</button>
      <div ui-view="menu"></div>
    </div>
  </div>
  <div class="span9" ui-view="" ng-animate="{enter:&#39;fade-enter&#39;}"></div>
</div>